body{
    background-color: #b2e1ffef;
    color:rgb(94, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
input{
    border-radius: 50%;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    /* justify-content: space-around; */
}
#change{
    display:flex;
    align-items: center;
    justify-content: space-around;

}
#length{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    /* flex-direction: column; */
}
#label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#session-break{
    margin: 2rem;
    text-align: center;
}
#toggle{
    display: flex;
    
}
i{
    padding: 1rem;
    cursor:pointer
}
i::before{
    
    margin: 1rem;
}
#label-container{
    padding: 4rem;
    margin: 1rem;
    border: 2px solid brown;
    border-radius: 40%;
}
#profile{
    display: inline-block;
    font-size: .8rem;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    text-decoration: none;

}
#profile::after{
    display: block;
    content: '';
    padding: .2rem;
    border-bottom: 2px solid rgba(204, 203, 202, 0.925);
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
#profile:hover{
    color: #fff;
    transition: .5s ease-in;
    cursor: pointer;
}
#profile:hover::after{
    color: #fff;
    transform: scaleX(1);
}

@media only screen and (max-width:800px){
    body{
        font-size: 1rem;
    }
    #label-container{
        padding:1.2rem;
        
    }
    #session-break{
        margin: 1rem;
    }
}